$white: #fff;
$black: #000;
$cream: #ECDF8D;
$blue: #20457C;
$light-blue: #337ab7;
$grey: #3B3A35;
$light-grey: #7C7C7C;
$lightest-grey: #e8e8e8;
$orange: #FB6648;
$green: rgb(55, 165, 55);
$red: rgb(203, 88, 92);
$purple: #5E3448;
$text-colour: #606060;