<section class="panel repository-link" ng-show="boardData.field_repository_link[0].value">
  <h3 class="panel-header">Project files</h3>   
    <h4>
      <a ng-href="{{ boardData.field_repository_link[0].value }}">View on Github</a>
    </h4>
    <p>Download the most recent schematic, board files and Arduino code for {{ boardData.title[0].value }}.</p>

    <div class="commit-list clearfix" ng-cloak>
       <p ng-hide="commits">
        <span class="fa fa-refresh fa-spin"> </span> Fetching recent updates...
       </p>
       <div ng-show="commits">
          <h5 class="panel-sub-header">Latest updates to this version</h5>
          <ul class="list-group repo-commits">
              <li ng-repeat="commit in commits" class="list-group-item">
                <span class="badge">{{commit.commit.committer.date | date:'dd MMMM yyyy'}}</span>
                <a href="{{commit.html_url}}"> {{commit.commit.message}} </a>
              </li>
          </ul>
       </div>
    </div>
</section>